body {
  margin: 0;
  padding: 0;
}

.navbar {
  background: teal;
  color: white;
  height: 50px;
}

.navbar-brand {
  color: white;
}
.content {
  padding-top: 10px;
  padding-left: 20px;
}

.navbar-light .navbar-brand {
  color: white;
}

.card {
  width: 80%;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  margin-top: 20px;
}

.pagenumber {
  float: right;
}

ul {
  list-style: none;
}

#card-parent {
  background: teal;
}

.card-custom {
  border: 0.2px solid #f0f0f0;
}

.card {
  padding: 0;
}
